*{
    margin: 0px;
    padding: 0px;
    background-color:black;
    color: white;
}
.buttons{
    display: flex;
    gap: 2.5rem;
    margin-left: 165px;
}
.row1{
    margin-bottom: 2.5rem;
}
.button{
    border-radius: 11px;
    cursor: pointer;
    position:relative;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: 0.5s;
    margin: 45px 0px;
}
.save-btn:hover{
    background:var(--clr);
    letter-spacing: 5px;
}
.get-todo:hover{
    background-color:rgb(230, 230, 55);
    letter-spacing: 4px;
}
.finished:hover{
    background-color: rgb(26, 222, 26);
    letter-spacing: 4px;
}
.delete:hover{
    background-color: rgb(233, 45, 45);
    letter-spacing: 4px;
}
.heading{
   text-align: center;
   padding: 1rem;
   font-size: 3rem;
   color: #ff0000;
   border-bottom: 2px solid rgb(98, 216, 255);
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1.5rem;
    gap: 6rem
}
.todo-input{
    font-size: 1rem;
    flex-basis: 48%;
    border-radius: 1rem;
    padding: 14px;
    outline: none;
  border: none;
  border-bottom: 2px solid white;
}
.get-todo{
    font-size: 1rem;
    background-color: rgb(196, 212, 90);
    border-radius: 11px;
    padding: 8px
}
.list-todo-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    margin: 4px 0px;
}
 .todo-content{
    font-size: 1.8rem;
}
.todo-no{
padding: 1rem;
position: absolute;
left: 9rem;
}
.todo-item{
    margin: 45px 0px;
    padding-left: 27rem;
}
.todo-status{
    margin: 45px 0px;
  margin-left: 160px;
} 
.todo-actions{
    display: flex;
    justify-content: start;
    gap: 14px;
    position: relative;
  right: -4rem;
}
.edit-input{
    font-size: 1.3rem;
    margin-left: 23rem;
    padding: 15px 12px;
  border-radius: 11px;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}